<!-- Dashboard -->
<div class="menu-item">
  <a class="menu-link without-sub" routerLink="/dashboard" routerLinkActive="active"><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr001.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title" translate="MENU.DASHBOARD"></span></a>
</div>

<!-- Card -->
<div class="menu-item">
  <a class="menu-link without-sub" routerLink="/card" routerLinkActive="active"><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr001.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title">Credit card</span></a>
</div>

<!-- History -->
<div class="menu-item">
  <a class="menu-link without-sub" routerLink="/history" routerLinkActive="active"><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr001.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title">History</span></a>
</div>

<!-- Beneficiaries -->
<div class="menu-item">
  <a class="menu-link without-sub" routerLink="/beneficiaries" routerLinkActive="active"><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr001.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title">Beneficiaries</span></a>
</div>

<!-- Bank Transfer -->
<div class="menu-item">
  <a class="menu-link without-sub" routerLink="/transfer" routerLinkActive="active"><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr001.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title">Bank Transfer</span></a>
</div>

<!-- Bills -->
<!-- <div class="menu-item">
  <a class="menu-link without-sub" routerLink="/bills" routerLinkActive="active"><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr001.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title">Bills</span></a>
</div> -->