<!-- begin::Row -->
<div class="row gy-5 g-xl-8">
  <div class="">
    <app-mixed-widget0 class="card card-xl-stretch mb-xl-8" color="info"></app-mixed-widget0>
  </div>
  <div class="">
    <!-- <app-mixed-widget10 class="card card-xxl-stretch-50 mb-5 mb-xl-8" chartColor="primary" chartHeight="150px">
    </app-mixed-widget10> -->
    <app-mixed-widget11 class="card card-xxl-stretch-50 mb-5 mb-xl-8" chartColor="primary" chartHeight="175px">
    </app-mixed-widget11>
  </div>
</div>
<!-- end::Row -->