<!-- begin::Header -->
<div class="card-header border-0">
    <h3 class="card-title fw-bolder text-gray-900">Bills</h3>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body pt-2">
    <!-- begin::Item -->
    <div class="d-flex align-items-center mb-8">
      <!-- begin::Bullet -->
      <span class="bullet bullet-vertical h-40px bg-success me-5"></span>
      <!-- end::Bullet -->
      <!-- begin::Description -->
      <div class="flex-grow-1 ms-5">
        <a href="#" class="text-gray-800 text-hover-primary fw-bolder fs-6">
          Type
        </a>
        <span class="text-muted fw-bold d-block">Due in 2 Days</span>
      </div>
      <!-- end::Description -->
      <span class="badge badge-light-info fs-8 fw-bolder">Creancier</span>
    </div>
    <!-- end:Item -->
  </div>
  <!-- end::Body -->
  